
@{
    ViewBag.Title = "Projects";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Projects" />
    <title>Projects</title>


    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>


<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">About me</h2>
    <br/>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget ipsum tincidunt, vehicula velit vel, hendrerit lacus. Sed eget mollis enim, eget volutpat enim. Donec luctus ex in risus auctor, vitae rhoncus quam ultricies. Vestibulum pharetra felis at dolor maximus, non laoreet enim consequat. Sed sollicitudin ex arcu, sit amet bibendum nulla tristique id. Nunc egestas, metus ut suscipit imperdiet, purus justo venenatis sem, sed molestie neque augue quis risus. Sed in elit eros. Etiam vitae porttitor metus. Aenean vulputate erat eu elit consequat, vitae accumsan erat porta. Sed mauris est, commodo a auctor condimentum, dignissim vel odio.

        Aliquam dolor neque, fringilla at dolor quis, rutrum consequat ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam ante mi, ultricies quis nulla a, congue vulputate urna. Maecenas et est tortor. Praesent in hendrerit purus. Donec massa elit, consequat egestas dapibus sit amet, elementum in risus. Phasellus id aliquam purus. Suspendisse eu ligula risus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut eleifend at felis a mattis.

        Fusce et dolor id diam rutrum luctus et eget ligula. Curabitur et tristique nisi. Morbi at justo viverra, cursus neque sit amet, dignissim quam. Morbi dictum congue cursus. Vestibulum nec laoreet turpis. Sed dui turpis, malesuada quis euismod quis, ultricies eget odio. Ut elit elit, cursus sollicitudin pulvinar in, tempor vestibulum nunc. Donec a lectus est. Praesent lacinia dui sit amet accumsan posuere. Morbi sodales purus vitae ex ullamcorper, at mattis velit pharetra. In venenatis ex cursus arcu facilisis, et porta risus rutrum. Morbi at fermentum lorem. Nam interdum volutpat dui, eu commodo felis dictum eu.

        Morbi non elementum risus, id eleifend mi. Donec tincidunt risus at aliquam convallis. Ut feugiat hendrerit dolor ac gravida. Mauris mattis nunc ut lectus accumsan facilisis. Nam nec quam vitae erat bibendum laoreet. Nam finibus sem et varius condimentum. Donec et arcu purus. Aenean fermentum, libero non euismod fringilla, sapien nibh lacinia nunc, nec venenatis quam ligula sit amet magna. Fusce at lacus eget massa blandit sodales. Vivamus tempor arcu ligula, vel fermentum nunc rutrum ut. Aenean ut vestibulum magna. Integer mattis a nulla sed ultrices. Fusce eget ipsum nisi. Integer facilisis dapibus porttitor.

        Maecenas bibendum varius mauris vitae ultricies. Proin aliquet pretium congue. Vestibulum vitae ullamcorper est. Morbi vitae interdum sem. Duis fringilla enim eget eleifend blandit. Mauris congue massa et imperdiet cursus. Quisque luctus, nisl egestas lacinia blandit, ante neque interdum odio, vel luctus dolor est eu neque. Mauris magna lectus, condimentum sed faucibus eu, mollis vitae ante. Cras quis metus ligula.

        Suspendisse ornare felis a quam tincidunt sodales. Duis non velit volutpat, maximus sapien in, maximus lacus. Donec eget massa mauris. Vivamus urna dui, feugiat id commodo vitae, hendrerit venenatis purus. Nulla vel elementum nisl, sed sagittis purus. Cras vulputate tristique cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam elementum orci a libero pretium, sit amet consequat augue tempor. Maecenas dapibus id ex vel pharetra. Sed vel rutrum sapien. Morbi in nunc et dolor sollicitudin porttitor. Cras eu nunc felis.
    </p>
</div>

<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Download my CV</h2>
            <p>A short written summary of my career, qualifications, and education. </p>
            <a href="~/Content/Resources/cv.pdf" class="btn btn-outline-primary px-5">Download</a>
        </div>
    </div>
</div>
