
@{
    ViewBag.Title = "Projects";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Projects" />
    <title>Projects</title>


    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>



    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Projects</h1>
                <p class="lead text-muted">
                    Below you can find a list of projects that I spent time working on. Feel free to check them out!
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="~/Content/Images/bookify.gif"
                           data-lightbox="photos">
                            <img class="bd-placeholder-img card-img-top img-fluid"
                                 src="~/Content/Images/bookify.gif" />
                        </a>
                        <div class="card-body">
                            <p class="card-text">
                                A website which allows the users to search or create events to attend.

                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="https://github.com/Nikola-Popov/Bookify" class="btn btn-primary btn-sm btn-block">Github</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <a href="~/Content/Images/covid_tracker.png"
                           data-lightbox="photos">
                            <img class="bd-placeholder-img card-img-top img-fluid"
                                 src="~/Content/Images/covid_tracker.png" />
                        </a>
                        <div class="card-body">
                            <p class="card-text">
                                React-app that visually displays data about COVID-19 using charts.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="https://github.com/Nikola-Popov/covid19-tracker" class="btn btn-primary btn-sm btn-block">Github</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <a href="~/Content/Images/books-rating-prediction.jpeg"
                           data-lightbox="photos">
                            <img class="bd-placeholder-img card-img-top img-fluid"
                                 src="~/Content/Images/books-rating-prediction.jpeg" />
                        </a>
                        <div class="card-body">
                            <p class="card-text">
                                Training a prediction model for the average rating of a book.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="https://github.com/Nikola-Popov/books-rating-prediction" class="btn btn-primary btn-sm btn-block">Github</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <a href="~/Content/Images/gerrit-line-clipper.jpg"
                           data-lightbox="photos">
                            <img class="bd-placeholder-img card-img-top img-fluid"
                                 src="~/Content/Images/gerrit-line-clipper.jpg" />
                        </a>
                        <div class="card-body">
                            <p class="card-text">
                                Google Chrome extension that allows you to copy the currently selected line in Gerrit to the clipboard.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="https://github.com/Nikola-Popov/gerrit-line-clipper" class="btn btn-primary btn-sm btn-block">Github</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
